@model VideoGame
<h1 class="display-1">Video Game Update</h1>
<p>@Model.Title</p>
<form method="post" asp-action="EditGame">
    <input asp-for="@Model.Title" value="@Model.Title" />
    <br />
    <input asp-for="@Model.Platform" value="@Model.Platform" />
    <br />
    <input asp-for="@Model.Genre" value="@Model.Genre" />
    <br />
    <input asp-for="@Model.ESRB" value="@Model.ESRB" />
    <br />
    <input asp-for="@Model.Year" value="@Model.Year" />
    <br />
    <input asp-for="@Model.Image" value="@Model.Image" />
    <br />

    <input type="submit" value="Submit" />
</form>

